<li class="flex w-full bg-light-bg-alt dark:bg-dark-bg-alt p-2 gap-2">
	<%= render 'shared/vote',
             votable: comment, 
             upvote_path: comment_upvote_path(comment),
             downvote_path: comment_downvote_path(comment)%>
	<article class=" flex flex-col justify-center gap-2  rounded-md">
		<div class="flex gap-1 items-center">
			<span class="text-gray-500 text-sm">
				Posted by u/<%="#{comment.user.username} #{time_ago_in_words(comment.created_at)}" %> ago
			</span>
			<%= render 'shared/edit', 
                  editable: comment,
                  editable_path: edit_comment_path(comment),
                  label: "Edit Comment" %>
			<%= render 'shared/delete',
                 deletable: comment, 
                 deletable_path: comment_path(comment),
                 label: "Destroy Comment" %>
		</div>
		<p class="break-all">
			<%= comment.body %>
		</p>

	</article>
</li>
