<li class="flex bg-white py-2">
	<%= render 'shared/vote', 
             votable: post, 
             upvote_path: community_post_upvote_path(post.community.slug, post.slug),
             downvote_path: community_post_downvote_path(post.community.slug, post.slug) %>

	<div class="flex flex-col gap-1">
		<h2 class="font-semibold">
			<%= link_to post.title, community_post_url(post.community.slug, post.slug) %>
		</h2>
		<div class="text-xs">
			<% unless current_page?(community_path(post.community.slug)) %>
				<%= link_to "b/#{post.community.slug}", community_path(post.community.slug), class: "font-bold" %>
			<% end %>
			<span class="text-gray-400">Posted by u/<%="#{post.user.username} #{time_ago_in_words(post.created_at)}" %> ago</span>
		</div>
		<%= link_to pluralize(post.comments.size, "comment"), community_post_url(post.community.slug, post.slug), class: "text-sm" %>
		<%# TODO: get trash can icon %>
		<% if current_user == post.user %>
			<%= button_to sanitize("&#128465"), community_post_path(post.community.slug, post.slug), method: :delete, form: { data: {turbo_confirm: "Are you sure?"}}  %>
		<% end %>
	</div>
</li>
