<li class="flex bg-white p-2 gap-2">
	<%= render 'shared/vote', 
             votable: post, 
             upvote_path: post_upvote_path(post.id),
             downvote_path: post_downvote_path(post.id) %>

	<div class="flex flex-col gap-1">
		<div class="flex gap-2">
			<h2 class="font-semibold">
				<%= link_to post.title, community_post_url(post.community.slug, post.slug) %>
			</h2>
			<% if current_user == post.user %>
				<%= button_to post_path(post), 
                      method: :delete, 
                      form: { data: {turbo_confirm: "Are you sure?"}},
                      class: "flex justify-center items-center w-6 h-6 fill-gray-400 hover:bg-gray-200 hover:fill-black" do %>
					<%= inline_svg_tag 'trash.svg', class: "w-4 h-4 " %>
				<% end %>
			<% end %>

		</div>
		<div class="text-xs">
			<% unless current_page?(community_path(post.community.slug)) %>
				<%= link_to "b/#{post.community.slug}", community_path(post.community.slug), class: "font-bold" %>
			<% end %>
			<span class="text-gray-400">Posted by u/<%="#{post.user.username} #{time_ago_in_words(post.created_at)}" %> ago</span>

		</div>
		<%= link_to pluralize(post.comments.size, "comment"), community_post_url(post.community.slug, post.slug), class: "text-sm" %>
	</div>
</li>
