<%= render 'communities/header' %>
<section class="w-full flex gap-2 bg-light-bg-alt dark:bg-dark-bg-alt p-2 mt-8 rounded-md">
	<%= render 'shared/vote', 
             votable: @post, 
             upvote_path: post_upvote_path(@post.id),
             downvote_path: post_downvote_path(@post.id) %>
	<article class="flex flex-col flex-1 justify-center gap-1">
		<div class="flex gap-2 items-center">
			<span class="text-gray-500 dark:text-300 text-sm">Posted by u/<%="#{@post.user.username} #{time_ago_in_words(@post.created_at)}" %> ago</span>
			<%= render 'shared/edit', editable: @post, editable_path: edit_post_path(@post) %>
			<%= render 'shared/delete', deletable: @post, deletable_path: post_path(@post)  %>
		</div>
		<h1 class="font-bold text-xl">
			<%= @post.title %>
		</h1>
		<p>
			<%= @post.body %>
		</p>
	</article>

</section>

<section class="flex flex-col gap-2 mt-4">
	<%= render 'comments/form', path: post_comments_path(@post), button_text: "Create Comment"  %>
	<h2 class="font-bold mb-2">Comments</h2>
	<ul class="flex flex-col gap-2 mb-2">
		<% @post.ordered_comments.each do |comment| %>
			<%= render 'comments/comment', comment: comment %>
		<% end %>
	</ul>
</section>
