<%= render 'communities/header' %>
<section class="w-full flex gap-2 bg-white items-center p-2 mt-8 rounded-md">
	<%= render 'shared/vote', 
             votable: @post, 
             upvote_path: post_upvote_path(@post.id),
             downvote_path: post_downvote_path(@post.id) %>
	<article class="flex flex-col flex-1 justify-center gap-1">
		<div class="flex gap-2 items-center">
			<span class="text-gray-400 text-sm">Posted by u/<%="#{@post.user.username} #{time_ago_in_words(@post.created_at)}" %> ago</span>
			<% if current_user == @post.user %>
				<%= button_to sanitize("&#128465"), community_post_path(@post.community.slug, @post.slug),method: :delete, form: { data: {turbo_confirm: "Are you sure?"}}  %>
			<% end %>
		</div>
		<h1 class="font-bold text-xl">
			<%= @post.title %>
		</h1>
		<p>
			<%= @post.body %>
		</p>
	</article>

</section>

<section class="flex flex-col gap-2 mt-4">
	<%= render 'comments/form' %>
	<h2 class="font-bold mb-2">Comments</h2>
	<ul class="flex flex-col gap-2 mb-2">
		<% @post.comments.each do |comment| %>
			<%= render 'comments/comment', comment: comment %>
		<% end %>
	</ul>
</section>
