<!DOCTYPE html>
<html>
	<head>
		<title>Baddit</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
	</head>

	<body class="bg-[#dae0e6]">
		<%= render 'layouts/navbar' %>
		<main class="px-8 mt-16">
			<%= render 'shared/flash' %>

			<%= yield %>
		</main>
	</body>
</html>
