<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Baddit</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
	</head>

	<body class="bg-light-bg dark:bg-dark-bg text-black dark:text-white">
		<%= render 'layouts/navbar' %>
		<%= render 'shared/flash' %>
		<main class="px-1 md:px-8 mt-20 relative">

			<%= yield %>
		</main>
	</body>
</html>
